# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output
/build/

# Ignore environment variables file
.env

# Ignore IDE or editor specific files
.vscode/
.idea/
*.suo
